html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.admin-name{
    color: white;
    position: absolute;
    left: 10px;
    top: 30px;
}


#profileList{
    position: absolute;
    left: 10px;
    display: flex;
     /* justify-content: space-around; */
    top: 150px;

} 

.btn{
    color: black;
    background-color: yellow;
    size: 5px;
    width: 100%;
    margin: 5px;
}

#form{
    position: absolute;
    top: 70px;
    left: 400px;
    width: 2000px;
    bottom: 100px;
}

#logout{
    position: absolute;
    top: 400px;
} 

#chart{
    left:800px;
    top: 400px;
    position: absolute;
}
